<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>plsnpairs_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListServerFiles</display-name>
    <servlet-name>ListServerFiles</servlet-name>
    <servlet-class>ListServerFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServerFiles</servlet-name>
    <url-pattern>/ListServerFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSessionProfile</display-name>
    <servlet-name>CreateSessionProfile</servlet-name>
    <servlet-class>CreateSessionProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSessionProfile</servlet-name>
    <url-pattern>/CreateSessionProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>A servlet which creates a datamat.</description>
    <display-name>CreateDatamat</display-name>
    <servlet-name>CreateDatamat</servlet-name>
    <servlet-class>CreateDatamat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDatamat</servlet-name>
    <url-pattern>/CreateDatamat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupPlsAnalysis</display-name>
    <servlet-name>SetupPlsAnalysis</servlet-name>
    <servlet-class>SetupPlsAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupPlsAnalysis</servlet-name>
    <url-pattern>/SetupPlsAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunAnalysis</display-name>
    <servlet-name>RunAnalysis</servlet-name>
    <servlet-class>RunAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunAnalysis</servlet-name>
    <url-pattern>/RunAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupNpairsAnalysis</display-name>
    <servlet-name>SetupNpairsAnalysis</servlet-name>
    <servlet-class>SetupNpairsAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupNpairsAnalysis</servlet-name>
    <url-pattern>/SetupNpairsAnalysis</url-pattern>
  </servlet-mapping>
</web-app>